html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  color: var(--main-txt-cl);
  background-color: var(--body-bg-cl);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--main-bg-color);
}

body::-webkit-scrollbar-thumb {
  background: rgba(243, 243, 243, 0.7);
  border-radius: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  color: currentColor;
  text-decoration: none;
}

a.active {
  color: var(--accent-cl);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  outline: none;
}
